@import '../../assets/scss/partials/partials';
.side-bar-sort-by-price-container {
  margin: 3rem 0 0 0;

  &__heading {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 12px;
    color: $text-dark;
    border-bottom: 1px solid black;
    padding: 0 0 1rem 0;
    margin-bottom: 1.5rem;
  }

  &__item {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 12px;
    color: $pg-main;
    cursor: pointer;
  }
}
