@import '../../assets/scss/partials/partials';
.new-arrivals-heading {
  @include Headings();
  color: $text-dark;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  text-align: center;
  margin: 0 0 6rem 0;
  display: block;
  width: 100%;
}
