#drop-down-container {
  margin: 0 5rem 0 0;

  .drop-down-container {
    &__button {
      height: 50px;
      background: #f5f5f5;
      border-radius: 0;
      border: none;
      outline: none;
      padding-left: 20px;
      position: relative;
      font-size: 1.1rem;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      color: #777;
      width: 20rem;
    }

    &__menu {
      width: 20rem;
      background: #f5f5f5;
      border-radius: 0;
      border: none;
      outline: none;
      font-size: 1.1rem;
      text-transform: uppercase;
      letter-spacing: 1px;

      &__item {
        margin: 2rem 0;
        text-align: center;
      }
    }
  }
}
